html, 
body {
    height: 100%;
}

* {
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.content,
.footer {
    display: flex;
}

.header {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #F0EDCF;
}

.invisible {
    color: transparent;
}

.content {
    flex: 1;
}

.content > * {
    flex: 1;
}

.result-container {
    flex: 2;
    border-left: 1rem solid #F0EDCF;
    border-right: 1rem solid #000000;
}

.user-choice-container,
.computer-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-choice {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    border: 0.4rem solid #40A2D8;
    background-size: cover;
    
}

.user-choice:hover {
    background-color: #000000;
    border: 0.4rem solid #000000;
}

.user-choice-container,
.computer-choice {
    background-color: #0B60B0;
}

.result-container {
    background-color: #40A2D8;
}

.footer {
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #F0EDCF;
    background-color: #000000;
}

.logo {
    width: 2rem;
}